{% block films %}
<h2>Films</h2>
    {% if films %}
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Age Rating</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.title }}</td>
                <td>{{ film.ageRating }}</td>
                <td>{{ film.duration }}</td>
                <td>{{ film.description }}</td>
                <td>
                    <form id="action">
                        <input id="actionButton" type="button" value="Edit">
                    </form>
                    <form id="action" action="{% url 'manager' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="accountID" value="{{ account.id }}">
                        <input type="hidden" name="deleteFilm" value="True">
                        <input type="hidden" name="filmID" value="{{ film.id }}">
                        <input id="actionButton" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no films added.</p>
    {% endif %}
{% endblock %}