{% block showings %}
<h2>Showings</h2>
    {% if showings %}
        <table>
            <tr>
                <th>Screen</th>
                <th>Film</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
            {% for showing in showings %}
            <tr>
                <td>{{ showing.screen }}</td>
                <td>{{ showing.film }}</td>
                <td>{{ showing.date }}</td>
                <td>{{ showing.time }}</td>
                <td>
                    <form id="action">
                        <input id="actionButton" type="button" value="Edit">
                    </form>
                    <form id="action" action="{% url 'manager' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="accountID" value="{{ account.id }}">
                        <input type="hidden" name="deleteShowing" value="True">
                        <input type="hidden" name="showingID" value="{{ showing.id }}">
                        <input id="actionButton" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no showings added.</p>
    {% endif %}
{% endblock %}