
<h2>View Statement for: {{ statementAccount }}</h2>
{% if transactions %}
    <table id="transactions">
        <tr>
            <th>ID</th>
            <th>Account</th>
            <th>Date</th>
            <th>Cost</th>
            <th>Payment Method</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.account }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.cost }}</td>
                <td>{{ transaction.paymentMethod }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>There are no transactions on this account.</p>
{% endif %}